@keyframes rotateC{
  0%{ transform:rotate(0deg);}
  100%{ transform:rotate(360deg);}
}

@-webkit-keyframes rotateC{
  0%{ -webkit-transform:rotate(0deg);}
  100%{ -webkit-transform:rotate(360deg);}
}
html {
  background-color: #f0f3f4;
}

body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.42857143;
  color: #58666e;
  background-color: transparent;
  padding-top: 50px;
}

*:focus {
  outline: 0 !important;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
}
li{
  list-style: none;
}
.g-nav-box{
  border: none;
  margin-bottom: 0;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  top:0;
  width: 100%;
}
.bg-dark {
  color: #a6a8b1;
  background-color: #3a3f51;
  width: 200px;
}
.bg-dark>a{
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  font-family: "Helvetica Neue", Arial, Verdana, "Nimbus Sans L", sans-serif;
}
.bg-dark>a>img{
  width: 20px;
  height:20px;
}
.bg-dark>a>span{
  font-family:'微软雅黑 Light';
  font-size: 14px;
  padding-left: 6px;
  color: #eaebed;
  box-sizing: border-box;
  letter-spacing: 1px;
}
#time-box{
  padding: 0;
  margin: 0;
  width: 200px;
  display: block;
  height: 50px;
}
.time{
  width:100%;
  height:100%;

  border-radius:1px;
  display: flex;
  display:-webkit-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  vertical-align:middle;
}
.time span{
  color:#c6c5c5;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}
.time .tda{ width:4px;}
.time .date2{ margin:0 2px;}
.time .date3{ font-size:14px; margin:0 2px;}
#tou-box{
  padding: 0;
  margin: 0;
  display: block;
  height: 50px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}
#tou-box>img{
  width: 40px;
  height:40px;
}
html,body{
  width: 100%;
  height:100%;
  box-sizing: border-box;
}
.app{
  width: 100%;
  height:100%;
}
.app-aside{
  float: left;
  height: 100%;
}
.app-content{
  float: left;
  width: calc( 100% - 200px);
}
/*个人信息的样式*/
.g-person-aslide{
  width: 100%;
}
.g-tou-img-box{
  width: 160px;
  margin: 0 auto;
  height: 160px;
  position: relative;
}
.g-tou-img{
  position: absolute;
  left: 50%;
  margin-left: -61px;
  top:20px
}
.g-circle-round{
  position: absolute;
  left: 20px;
  top: 10px;
}
.g-circle-round>img{
  width: 136px;
  height: 136px;
  animation:rotateC 6s linear infinite;
  -webkit-animation:rotateC 6s linear infinite;
}
.g-personal-list{
  padding: 0;
  margin: 0;
}
.g-personal-list li{
  padding: 0;
  margin: 0;
}
.g-personal-list .g-personal-li{
  padding: 8px 0;
  height: 36px;
}
.g-personal-list .g-personal-li:hover{
  background-color: #32374a;
  transition: 0.3s all linear;
}
.g-personal-list .g-personal-li:last-child:hover{
  background-color: #3a3f51;
}
.g-span-color{
  color: #23b7e5;
}
.g-person-aslide .g-span-pho{
  color: #00a8f3;
  font-size: 20px;
}
.g-person-aslide .g-span-school{
  color:#7a43b6;
}
.g-person-aslide .g-span-hobby{
  color:#b6438d;;
}
.g-person-aslide .g-span-home{
  color:#5a43b6;
  font-size: 17px;
}
.g-person-aslide .g-personal-list .g-span-email{
  color: #7266ba;
  line-height: 18px;
}
.g-personal-list .g-personal-li>span:nth-child(1){
  padding-left: 10px;
  padding-right: 5px;
  width: 30px;
  text-align: center;
}
.g-personal-list .g-personal-li>span{
  float: left;
  height: 20px;
  line-height: 20px;
}
.g-personal-list .g-personal-last{
  padding-left: 10px;
  padding-right: 8px;
}
.bg-dark.dk, .bg-dark .dk {
  background-color: #2e3344;
  height: 3px;
}
.progress-bar-info {
  background-color: #23b7e5;
}