@keyframes rotateC{
  0%{ transform:rotate(0deg);}
  100%{ transform:rotate(360deg);}
}

@-webkit-keyframes rotateC{
  0%{ -webkit-transform:rotate(0deg);}
  100%{ -webkit-transform:rotate(360deg);}
}
html {
  background-color: #f0f3f4;
}

body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.42857143;
  color: #58666e;
  background-color: transparent;
  padding-top: 50px;
}

*:focus {
  outline: 0 !important;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
}
li{
  list-style: none;
}
.g-nav-box{
  border: none;
  margin-bottom: 0;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  top:0;
  width: 100%;
  z-index: 10;
}
.bg-dark {
  color: #a6a8b1;
  background-color: #2c3f52;
  width: 200px;
}
.bg-dark>a{
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
#navbar .g-nav li{
  padding: 0;
  margin: 0;
  cursor: pointer;
}
#navbar .g-nav li a{
  position: relative;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: initial;
  transition-delay: initial;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
  padding-bottom: 16px;
}
#navbar .g-nav li:hover a{
  transform: rotateX(90deg);
}
/*#navbar .g-nav li.active{
  background-color: #ed4e6e;
  color: #fff;
}*/
#navbar .g-nav li.active a{
  color: #fff;
}
#navbar .g-nav li a span{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ed4e6e;
  color: #fff;
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.3s;
  transition-timing-function: initial;
  transition-delay: initial;
  transform: rotateX(-90deg);
  transform-origin: 50% 0;
  text-align: center;
  line-height: 50px;

}
#navbar li a{
  font-family: Microsoft YaHei;
  position: relative;
  font-size: 13px;
}
#navbar li a span{
  font-size: 13px;
}
.g-navbar .nav > li > a:hover{
   background-color: #2c3f52;
 }
.g-navbar .nav > li > a:focus{
  background-color: #2c3f52;
}
.bg-dark>a>img{
  width: 20px;
  height:20px;
}
.bg-dark>a>span{
  font-family:"微软雅黑 Light";
  font-size: 13px;
  padding-left: 6px;
  color: #eaebed;
  box-sizing: border-box;
  letter-spacing: 1px;
}
#time-box{
  padding: 0;
  margin: 0;
  width: 160px;
  display: block;
  height: 50px;
  line-height: 50px;
}
.g-header-right-img{
  margin-right: 20px;
}
[ng-cloak]{
  opacity: 0;
}
#tou-box{
  padding: 0;
  margin: 0;
  display: block;
  height: 50px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}
#tou-box>img{
  width: 40px;
  height:40px;
}
html,body{
  width: 100%;
  height:100%;
  box-sizing: border-box;
}
.app{
  width: 100%;
  min-height: 100%;
  background-color:#0a0a0a;
}
.app-aside{
  position: fixed;
  left: 0;
  top:51px;
  border-right: 1px solid #091521;
  height:calc(100% - 51px);
}
.app-content{
  margin-left: 200px;
  width: calc( 100% - 200px);
  min-height: 100%;
  background-color: #0a0a0a;
}
/*个人信息的样式*/
.g-person-aslide{
  width: 100%;
}
.g-navbar{
  background-color: #2c3f52;
}
.g-nav li>a{
color: #afbdc4;
}
.g-tou-img-box{
  width: 160px;
  margin: 0 auto;
  height: 160px;
  position: relative;
}
.g-tou-img{
  position: absolute;
  left: 50%;
  margin-left: -61px;
  top:20px
}
.g-circle-round{
  position: absolute;
  left: 20px;
  top: 10px;
}
.g-circle-round>img{
  width: 136px;
  height: 136px;
  animation:rotateC 6s linear infinite;
  -webkit-animation:rotateC 6s linear infinite;
}
.g-personal-list{
  padding: 0;
  margin: 0;
}
.g-personal-list li{
  padding: 0;
  margin: 0;
}
.g-personal-list .g-personal-li{
  padding: 8px 0;
  height: 36px;
}
.g-personal-list .g-personal-li:hover{
  background-color: #222b30;
  transition: 0.3s all linear;
}
.g-personal-list .g-personal-li:last-child:hover{
  background-color: #2c3f52;
}
.g-span-color{
  color: #23b7e5;
}
.g-person-aslide .g-span-pho{
  color: #00a8f3;
  font-size: 20px;
}
.g-person-aslide .g-span-school{
  color:#c3e88d;
}
.g-person-aslide .g-span-hobby{
  color:#ff5370;;
}
.g-person-aslide .g-span-home{
  color:#c792ea;
  font-size: 17px;
}
.g-person-aslide .g-personal-list .g-span-email{
  color: #6fa0f1;
  line-height: 18px;
}
.g-personal-list .g-personal-li>span:nth-child(1){
  padding-left: 10px;
  padding-right: 5px;
  width: 30px;
  text-align: center;
}
.g-personal-list .g-personal-li>span{
  float: left;
  height: 20px;
  line-height: 20px;
}
.g-personal-list .g-personal-last{
  padding-left: 10px;
  padding-right: 8px;
  height: 82px;
}
.g-personal-list .g-personal-last span{
  font-size: 12px;
}
.bg-dark.dk, .bg-dark .dk {
  background-color: #2e3344;
  height: 5px;
  margin-bottom: 10px;
}
.progress-bar-info {
  background-color: #00b88d;
}
/*video样式*/
.g-videoBox{
  position: relative;
  width: 800px;
  height: 400px;
  margin: 0 auto;
  box-sizing: border-box;
}
.g-video-play{
  position: relative;
}
.g-videoBar{
  position: absolute;
  left: 0;
  bottom: 0;
  height:30px;
  padding-top: 6px;
  width: 100%;
  background-color: #0a0a0a;
}
.g-play{
  float: left;
  width: 120px;
  overflow: hidden;
}
.g-play>span{
  width: 22px;
  font-size: 16px;
  text-align: center;
  float: left;
  cursor: pointer;
}
.g-full{
  float: right;
  width: 200px;
}
.g-full>div{
  float: left;
  height: 20px;
  line-height: 20px;
}
.g-volume{
  width: 100px;
  padding-top: 8px;
  position: relative;
  box-sizing: border-box;

}
.g-voice-icon{
  line-height: 20px;
  padding: 0 6px;
  width: 30px;
  cursor: pointer;
}
.g-volume_this{
  height: 2px;
  position: relative;
  background-color: #164d8c;
}
.g-volume-button{
  position: absolute;
  width: 8px;
  height: 8px;
  right: 0;
  top:-2px;
  border-radius: 50%;
  background-color: #53cbff;
  cursor: pointer;
}
.g-speed{
  height: 20px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 30px;
  background: #1c2952;
  cursor: pointer;
}
.g-speed_buffer{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #092c67;
}
.g-speed_this{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #1d6099;
  opacity: 0.8;
}
.g-speed_this .button{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  right: -10px;
  top: 0;
  background-color: #628bad;
  cursor: pointer;
}
.g-top-view{
  transition: 1s all ease;
  -webkit-transition:1s all linear ;
  min-height:calc(100% - 51px);
}
p::selection {
  background:#1ca066;
  color:#fff;
}
p::-moz-selection {
  background:#1ca066;
  color:#fff;
}
div::selection {
  background:#1ca066;
  color:#fff;
}
div::-moz-selection {
  background:#1ca066;
  color:#fff;
}


.g-top-view.ng-enter{
  opacity: 0;
 transform: rotateY(-90deg);
}
.g-top-view.ng-enter-active{
  opacity: 1;
  transform: rotateY(0deg);
}
.g-top-view.ng-leave{
  display: none;
}
.g-top-view.ng-leaver-active{
  display: none;
}
/*个人工作经历样式*/
.personal-box{
  background-color: #fafafa;
  padding: 10px;
}
.personal-box .h-work{
  font-family: '微软雅黑 Light';
  height: 18px;
  border-left: 3px solid #006699;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #ec1f6d;
  line-height: 18px;
  margin-left: 10px;
}
.personal-box .inf-detail{
  margin-bottom: 14px;
  font-size: 13px;
  color: #333;
  font-family: '微软雅黑 Light';
  line-height: 26px;
  padding-left: 10px;
  padding-right: 4px;
  font-weight: 700;
  margin-top: 5px;
}
.personal-box .inf-detail p{
  margin: 0;
  font-weight: normal;
}
.personal-box .inf-img-box{
  overflow: hidden;
  padding: 10px 0;
}
.personal-box .inf-img-box img{
  float: left;
  height: 300px;
}
.personal-box .technology{
  color: #ff5370;
}
/*h5c3导航条样式*/
.g-top-view .nav li>a{
  font-family:"Microsoft YaHei";
  font-size: 13px;
}
.g-top-view .nav li.active{
  border-bottom: 1px solid #000;
  background-color: #0a1015;
  transition: 1s all linear;
}
.g-top-view .nav li.active a{
  color: #4e92cc;
}
.g-top-view .nav li>a:hover{
  color: #4e92cc;
  background-color: rgba(0,0,0,0);
}
.g-top-view .nav li>a:focus{
  color: #4e92cc;
  background-color: rgba(0,0,0,0);
}
.h5c3-ui-view{
  min-height: 100%;
}
#box{
  width: 200px;
  height: 200px;
  margin:150px auto;
  background: #ccc;
  position: relative;
  transform:perspective(800px) rotateY(-60deg) rotateX(45deg);
  transform-style:preserve-3d;
}
#box>div{
  width:100%;
  height:100%;
  position: absolute;
  top:0;
  left: 0;
  background-size:cover;
  -webkit-box-shadow:0 0 100px #5fbcff;
  opacity: .8;
}
#box .front{
  transform:translateZ(100px);

}
#box .back{
  transform:translateZ(-100px);

}
#box .left{
  transform:translateX(-100px) rotateY(90deg);

}
#box .right{
  transform:translateX(100px) rotateY(90deg);

}
#box .top{
  transform:translateY(-100px) rotateX(90deg);

}
#box .bottom{
  transform:translateY(100px) rotateX(90deg);
}

@-webkit-keyframes rotate{
  from{transform: rotateX(0deg) rotateY(0deg);}
  to{transform: rotateX(360deg) rotateY(360deg);}
}
#boxMousenter .cube{
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -100px;
  margin-left: -100px;
  transform:perspective(800px) rotateY(-60deg) rotateX(45deg) ;
  transform-style:preserve-3d;
  -webkit-animation: rotate 20s infinite;
  /*匀速*/
  animation-timing-function: linear;
}
#boxMousenter .cube>div{
  width:100%;
  height:100%;
  position: absolute;
  top:0;
  left: 0;
  background-size:contain;
  -webkit-box-shadow:0 0 100px #5fbcff;
  opacity: .9;
  opacity: 0.9;
  overflow: hidden;
  transition: all .4s;

}
#boxMousenter{
  min-height: 600px;
}
#boxMousenter .pic{
  width: 200px;
  height: 200px;
}
#boxMousenter .cube .out_front{
  transform: rotateY(0deg) translateZ(100px);
}
#boxMousenter .cube .out_back{
  transform: translateZ(-100px) rotateY(180deg);
}
#boxMousenter .cube .out_left{
  transform: rotateY(90deg) translateZ(100px);
}
#boxMousenter .cube .out_right{
  transform: rotateY(-90deg) translateZ(100px);
}
#boxMousenter .cube .out_top{
  transform: rotateX(90deg) translateZ(100px);
}
#boxMousenter .cube .out_bottom{
  transform: rotateX(-90deg) translateZ(100px);
}
/*鼠标移入后样式*/
#boxMousenter .cube:hover .out_front{
  transform: rotateY(0deg) translateZ(200px);
}
#boxMousenter .cube:hover .out_back{
  transform: translateZ(-200px) rotateY(180deg);
}
#boxMousenter .cube:hover .out_left{
  transform: rotateY(90deg) translateZ(200px);
}
#boxMousenter .cube:hover .out_right{
  transform: rotateY(-90deg) translateZ(200px);
}
#boxMousenter .cube:hover .out_top{
  transform: rotateX(90deg) translateZ(200px);
}
#boxMousenter .cube:hover .out_bottom{
  transform: rotateX(-90deg) translateZ(200px);
}
#boxMousenter .cube span{
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50px;
  left: 50px;
  overflow: hidden;
}
#boxMousenter .cube .in_pic{
  width: 100px;
  height: 100px;
}
#boxMousenter .cube .in_front{
  transform: rotateY(0deg) translateZ(50px);
}
#boxMousenter .cube .in_back{
  transform: translateZ(-50px) rotateY(180deg);
}
#boxMousenter .cube .in_left{
  transform: rotateY(90deg) translateZ(50px);
}
#boxMousenter  .cube .in_right{
  transform: rotateY(-90deg) translateZ(50px);
}
#boxMousenter .cube .in_top{
  transform: rotateX(90deg) translateZ(50px);
}
#boxMousenter .cube .in_bottom{
  transform: rotateX(-90deg) translateZ(50px);
}
#boxMousenter img{
  width: 100%;
  height: 100%;
}
#solarsystem.solarsystem {
  position: relative;
  height: 640px;
  list-style: none;
  -webkit-transition: all 0.09s ease-in;
  -moz-transition: all 0.09s ease-in;
  -o-transition: all 0.09s ease-in;
  transition: all 0.09s ease-in;
  overflow: hidden;
}
#solarsystem.solarsystem li {
  text-indent: -9999px;
  display: block;
  position: absolute;
  border: 2px solid #394057;
  /*    opacity: 0.7;*/
}
#solarsystem.solarsystem li span {
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#solarsystem.solarsystem li.active {
  border-color: #aa4200;
}
#solarsystem.solarsystem li.active.sun,
#solarsystem.solarsystem li.active span {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}
#solarsystem.solarsystem li.active.sun span,
#solarsystem.solarsystem li.active.earth .moon {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#solarsystem.solarsystem li.sun {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #fc3;
  background-image: -webkit-gradient(
          linear,
          left bottom,
          left top,
          color-stop(0.22, rgb(204,153,0)),
          color-stop(1, rgb(255,219,112))
  );
  background-image: -moz-linear-gradient(
          center bottom,
          rgb(204,153,0) 22%,
          rgb(255,219,112) 100%
  );
  top: 302px;
  left: 462px;
  border: none;
  -webkit-box-shadow: 0 0 50px #c90;
  -moz-box-shadow: 0 0 50px #c90;
  box-shadow: 0 0 50px #c90;
  z-index: 100;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
#solarsystem.solarsystem li.sun span {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
#solarsystem.solarsystem li.mercury {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  border-radius: 52px;
  top: 270px;
  left: 430px;
  z-index: 99;
}
#solarsystem.solarsystem li.mercury span {
  background: #b6bac5;
  top: 10px;
  left: 10px;
}
#solarsystem.solarsystem li.venus {
  width: 160px;
  height: 160px;
  -webkit-border-radius: 82px;
  -moz-border-radius: 82px;
  border-radius: 82px;
  top: 240px;
  left: 400px;
  z-index: 98;
}
#solarsystem.solarsystem li.venus span {
  background: #bf8639;
  top: 118px;
  left: 5px;
}
#solarsystem.solarsystem li.earth {
  width: 220px;
  height: 220px;
  -webkit-border-radius: 112px;
  -moz-border-radius: 112px;
  border-radius: 112px;
  top: 210px;
  left: 370px;
  z-index: 97;
}
#solarsystem.solarsystem li.earth span {
  background: #06c;
  top: 56px;
  left: 5px;
}
#solarsystem.solarsystem li.earth span.moon {
  width: 4px;
  height: 4px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #ccc;
  top: 12px;
  left: 12px;
}
#solarsystem.solarsystem li.mars {
  width: 280px;
  height: 280px;
  -webkit-border-radius: 142px;
  -moz-border-radius: 142px;
  border-radius: 142px;
  top: 180px;
  left: 340px;
  z-index: 96;
}
#solarsystem.solarsystem li.mars span {
  background: #aa4200;
  top: 0px;
  left: 175px;
}
#solarsystem.solarsystem li.asteroids_meteorids {
  top: 155px;
  left: 315px;
  z-index: 1;

  width: 330px;
  height: 330px;
  -webkit-border-radius: 165px;
  -moz-border-radius: 165px;
  border-radius: 165px;
  border: none;
}
#solarsystem.solarsystem li.jupiter {
  width: 340px;
  height: 340px;
  -webkit-border-radius: 172px;
  -moz-border-radius: 172px;
  border-radius: 172px;
  top: 150px;
  left: 310px;
  z-index: 95;
}
#solarsystem.solarsystem li.jupiter span {
  background: #e0ae6f;
  top: 67px;
  left: 24px;
}
#solarsystem.solarsystem li.saturn {
  width: 400px;
  height: 400px;
  -webkit-border-radius: 202px;
  -moz-border-radius: 202px;
  border-radius: 202px;
  top: 120px;
  left: 280px;
  z-index: 94;
}
#solarsystem.solarsystem li.saturn span {
  background: #dfd3a9;
  top: 24px;
  left: 300px;
}
#solarsystem.solarsystem li.saturn span.ring {
  width: 12px;
  height: 12px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: none;
  border: 2px solid #5a4e34;
  left: -3px;
  top: -3px;
  -webkit-transform: skewY(50deg);
  -moz-transform: skewY(50deg);
  -o-transform: skewY(50deg);
  transform: skewY(50deg);
}
#solarsystem.solarsystem li.uranus {
  width: 460px;
  height: 460px;
  -webkit-border-radius: 232px;
  -moz-border-radius: 232px;
  border-radius: 232px;
  top: 90px;
  left: 250px;
  z-index: 93;
}
#solarsystem.solarsystem li.uranus span {
  background: #82b3d1;
  top: 7px;
  left: 300px;
}
#solarsystem.solarsystem li.neptune {
  width: 520px;
  height: 520px;
  -webkit-border-radius: 262px;
  -moz-border-radius: 262px;
  border-radius: 262px;
  top: 60px;
  left: 220px;
  z-index: 92;
}
#solarsystem.solarsystem li.neptune span {
  background: #77c2ec;
  top: 0px;
  left: 200px;
}
#solarsystem.solarsystem li.pluto {
  width: 580px;
  height: 580px;
  -webkit-border-radius: 292px;
  -moz-border-radius: 292px;
  border-radius: 292px;
  top: 30px;
  left: 190px;
  z-index: 91;
}
#solarsystem.solarsystem li.pluto span {
  background: #7c6a5c;
  top: 79px;
  left: 79px;
}

/* CSS3 Animations */
#solarsystem.solarsystem li {
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  -webkit-animation-name:orbit;

  -moz-animation-iteration-count:infinite;
  -moz-animation-timing-function:linear;
  -moz-animation-name:orbit;
}
#solarsystem.solarsystem li.earth span {
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  -webkit-animation-name:moon;

  -moz-animation-iteration-count:infinite;
  -moz-animation-timing-function:linear;
  -moz-animation-name:moon;
}
#solarsystem.solarsystem li.mercury {-webkit-animation-duration:5s; -moz-animation-duration:5s;}
#solarsystem.solarsystem li.venus {-webkit-animation-duration:8s; -moz-animation-duration:8s;}
#solarsystem.solarsystem li.earth {-webkit-animation-duration:12s; -moz-animation-duration:12s;}
#solarsystem.solarsystem li.earth span {-webkit-animation-duration:2s; -moz-animation-duration:2s;}
#solarsystem.solarsystem li.mars {-webkit-animation-duration:20s; -moz-animation-duration:20s;}
#solarsystem.solarsystem li.asteroids_meteorids {-webkit-animation-duration:50s; -moz-animation-duration:50s;}
#solarsystem.solarsystem li.jupiter {-webkit-animation-duration:30s; -moz-animation-duration:30s;}
#solarsystem.solarsystem li.saturn {-webkit-animation-duration:60s; -moz-animation-duration:60s;}
#solarsystem.solarsystem li.uranus {-webkit-animation-duration:70s; -moz-animation-duration:70s;}
#solarsystem.solarsystem li.neptune {-webkit-animation-duration:100s; -moz-animation-duration:100s;}
#solarsystem.solarsystem li.pluto {-webkit-animation-duration:120s; -moz-animation-duration:120s;}
@-webkit-keyframes orbit { from { -webkit-transform:rotate(0deg) } to { -webkit-transform:rotate(360deg) } }
@-webkit-keyframes moon { from { -webkit-transform:rotate(0deg) } to { -webkit-transform:rotate(360deg) } }
@-moz-keyframes orbit { from { -moz-transform:rotate(0deg) } to { -moz-transform:rotate(360deg) } }
@-moz-keyframes moon { from { -moz-transform:rotate(0deg) } to { -moz-transform:rotate(360deg) } }

.g-grid {
  width: 600px; height: 300px;
  perspective: 500px; /*For 3d*/
}
.g-grid img {width: 60px; height: 60px; display: block; float: left;}

.g-animate1{
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  width: 100px;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  background: rgb(0, 100, 0);
  color: white;
   border-radius: 5px;
  cursor: pointer;
}
.g-animate1:hover {background: rgb(0, 75, 0);}
/*icon-style*/
.g-icon-title{
  height: 80px;
  font-size: 16px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 2px;
  color: #fafafa;
  font-family: "Microsoft YaHei";
}
.g-icon-box{
  width: 800px;
  margin: 0 auto;
}
.g-icon-box>img{
  width: 100%;
}