<div class="g-person-aslide">
    <div class="g-tou-img-box">
        <div class="g-circle-round">
            <img ng-src="images/circle.png" alt="circle"/>
        </div>
        <div class="g-tou-img">
            <img ng-src="images/header.png" alt="circle"/>
        </div>

    </div>
    <ul class="g-personal-list">
        <li class="g-personal-li">
            <span class="fa fa-user-o g-span-color"></span>
            <span>郭嘉乐</span>
        </li>
        <li class="g-personal-li">
            <span class="fa fa-mobile-phone g-span-pho"></span>
            <span>158 013 29463</span>
        </li>
        <li class="g-personal-li">
            <span class="glyphicon glyphicon-envelope icon text-info-lter g-span-email"></span>
            <span>1993699583@qq.com</span>
        </li>
        <li class="g-personal-li">
            <span class="fa fa-universal-access g-span-school"></span>
            <span>天津工业大学</span>
        </li>
        <li class="g-personal-li">
            <span class="fa fa-heart g-span-hobby"></span>
            <span>足球，篮球</span>
        </li>
        <li class="g-personal-li">
            <span class="fa fa-home g-span-home"></span>
            <span>黑龙江哈尔滨</span>
        </li>
        <li class="g-personal-li g-personal-last">
            <div class="wrapper m-t">
                <div class="text-center-folded">
                    <span class="pull-right pull-none-folded">80%</span>
                    <span class="hidden-folded">health</span>
                </div>
                <div class="progress progress-xxs m-t-sm dk">
                    <div class="progress-bar progress-bar-info" style="width: 80%;">
                    </div>
                </div>
                <div class="text-center-folded">
                    <span class="pull-right pull-none-folded">88%</span>
                    <span class="hidden-folded">diligence</span>
                </div>
                <div class="progress progress-xxs m-t-sm dk">
                    <div class="progress-bar progress-bar-primary" style="width: 88%;">
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>