<div my-video>
    <div class="g-videoBox">

        <div class="g-video-play" style="width:100%;">
            <div class="g-video">
                <!--<div id="video_open_div" style="display:none;">
                    <img src="img/loading.png" class="loading" alt="" style="display:none;" />
                    <input type="button" class="open" value="" />
                    <div class="openLink">
                        <input type="text" value="" class="input" />
                        <input type="button" value="" class="openBtn" />
                        http://c1.mifile.cn/f/i/16/mix/summary/01.mp4
                    </div>
                </div>-->
                <div id="g-video_div" style="display:block;">
                    <video id="g-v1" height="100%" src="http://images.sohu.com/ytv/SH/Coke/64036020120714021103.mp4"></video>
                    <!-- <video style="width: 100%;" id="g-v1" height="100%" src="http://c1.mifile.cn/f/i/16/mix/summary/01.mp4"></video>-->
                </div>
            </div>
            <div class="g-videoBar">
                <!--播放 暂停 等操作部分-->
                <div class="g-play">
                    <span id="stop" class="fa fa-stop"></span>
                    <span id="prev" class="fa fa-fast-backward"></span>
                    <span id="play" class="fa fa-play-circle" ></span>
                    <span id="pause" style="display: none;" class="fa fa-pause-circle" ></span>
                    <span id="next" class="fa fa-fast-forward" ></span>
                </div>
                <!--声音-->
                <div class="g-full">
                    <div class="g-timer">
                        <span class="timeThis" id="curTime">00:00</span>/<span id="totalTime">00:00</span>
                    </div>
                    <div class="fa fa-volume-up g-voice-icon" ></div>
                    <div class="g-volume">
                        <div class="g-volume_this" style="width:100%;"><div class="g-volume-button"></div></div>
                    </div>

                </div>
            </div>
            <!--进度条-->
            <div class="g-speed">
                <div class="g-speed_buffer" style="width:30%;"></div>
                <div class="g-speed_this" style="width:0%;"><div class="button"></div></div>
            </div>
        </div>

    </div>
</div>

