<div class="col-md-12">
    <ul class="nav navbar-nav">
        <li ng-click="cubeNavId=0" ng-class="{'active':cubeNavId==0}"><a ui-sref="h5c3.cube">示例1</a></li>
        <li ng-click="cubeNavId=1" ng-class="{'active':cubeNavId==1}"><a ui-sref="h5c3.cube1">示例1</a></li>
        <li ng-click="cubeNavId=2" ng-class="{'active':cubeNavId==2}"><a ui-sref="h5c3.cube2">示例2</a></li>
        <li ng-click="cubeNavId=3" ng-class="{'active':cubeNavId==3}"><a ui-sref="h5c3.cube3">示例3</a></li>
        <li><a ui-sref="cube">示例4</a></li>
        <li><a ui-sref="cube">示例5</a></li>
    </ul>
</div>

<div class="h5c3-ui-view" ui-view>

</div>