<div class="personal-box">
    <div class="h-work">
        &nbsp;工作经历和能力
    </div>
    <div class="inf-detail">
        <div>2015/12 -- 至今：	北京天心无限科技有限公司 | h5前端工程师</div>
        <div>
            项目描述1:<br>
            <p>在海航云科技参与网站的开发,负责pc端和个人系统后台建设开发,建立了一个具有REST风格的后台管理系统，经历后台的从无到有的的整个搭建过程。项目介绍：物联网设备服务集成、安全控制、扩展和连接；海量设备，海量用户，海量数据；快速接入，快速开发，快速集成；实时分析，即时分析，批量分析，智能分析；设备安全，用户安全，通信安全，数据安全。 </p>
            <p>做的网站有:<a target="_blank" href="https://caas.haihangyun.com/">海航云</a> <a target="_blank" href="https://iot.hnair.cloud/">物联网</a>(我的qq邮箱号还在物联网站的底部呢 - -) </p>
            <p>做的后台:</p>
            <div class="inf-img-box">
                <img src="https://iot.hnair.cloud/images/dashboard.png" alt="物联网后台管理系统">
                <img src="https://iot.hnair.cloud/images/product.png" alt="物联网后台管理系统">
            </div>
            <div class="technology">用到的技术:angular,jquery,HTML5,CSS3,webstorm,node,git,gulp</div>
        </div>
        <div>
            项目描述2:<br>
            <p>
                主要负责APP里的页面交互，与ios和安卓配合开发部分功能；还负责pc端移动端交互，页面制作； 在线项目：IOS心港湾APP的社区部分. <br>
                该项目主要是针对心港湾App相关功能数据的管理系统，供心港湾运营部门使用。该系统提供了完整的游艇管理，码头管理，用户信息管理、客户经理信息管理、游艇相关活动管理、套餐及价位管理、订单管理等管理功能，随时了解游艇出海活动及用户相关信息等。另外，针对不同用户提供不同的套餐及游艇选择，也提供了简便快捷的线下支付等功能。
            </p>
            <p>做的页面:</p>
            <div class="inf-img-box">
                <img style="height: 300px;" src="images/xin.jpg">
            </div>
            <div class="technology">用到的技术:mui,zepto,HTML5,CSS3,node,webstorm,Eclipse,git,svn,gulp</div>
        </div>
    </div>
    <div class="inf-detail">
        <div>2014/09 -- 2015/12：北京得润九州投资医疗有限公司 | 前端工程师</div>
        <div>
            项目描述:<br>
            <p>在该项目主要是官网的展示；主要展示医院的优势，我们的可信度，我们的承诺以便能够让用户与我们沟通，相信我们。</p>
            <p>
                网站有:<a target="_blank" href="http://www.fuk38.com/">北京华科医院</a> （还有许多其他的手机站，主要的邀请，分享的页面，但是找不到了，莆田系医院，你懂的- -)
             </p>
            <div class="technology">用到的技术:jquery,HTML5,CSS3,webstorm,node,svn,gulp</div>
        </div>

    </div>
    <div class="inf-detail">
        <div>2014年之前主要是做简单的页面，主要用的jquery，还做图片之类的活就不介绍了！</div>
    </div>


</div>