
<div  id="boxMousenter">
    <div class="cube" >
        <div class="out_front">
            <img src="http://www.txship.com/img/details/details84.jpg"  class="pic">
        </div>

        <div class="out_back">
            <img src="http://www.txship.com/img/details/details85.jpg"  class="pic">
        </div>

        <div class="out_left">
            <img src="http://www.txship.com/img/details/details86.jpg"  class="pic">
        </div>
        <div class="out_right">
            <img src="http://www.txship.com/img/details/details87.jpg"  class="pic">
        </div>
        <div class="out_top">
            <img src="http://www.txship.com/img/details/details88.jpg"  class="pic">
        </div>
        <div class="out_bottom">
            <img src="http://www.txship.com/img/details/details89.jpg"  class="pic">
        </div>

        <span class="in_front">
            <img src="http://www.txship.com/img/details/details90.jpg" class="in_pic" />
        </span>
            <span class="in_back">
             <img src="http://www.txship.com/img/details/details91.jpg" class="in_pic" />
        </span>
            <span class="in_left">
            <img src="http://www.txship.com/img/details/details92.jpg" class="in_pic" />
        </span>
            <span class="in_right">
            <img src="http://www.txship.com/img/details/details93.jpg" class="in_pic" />
        </span>
            <span class="in_top">
            <img src="http://www.txship.com/img/details/details94.jpg" class="in_pic" />
        </span>
            <span class="in_bottom">
            <img src="http://www.txship.com/img/details/details95.jpg" class="in_pic" />
        </span>
    </div>
</div>
