
<div style="text-align: center;">按住鼠标左键拖动</div>
<div id="box">
    <div class="front"></div>
    <div class="back"></div>
    <div class="top"></div>
    <div class="bottom"></div>
    <div class="left"></div>
    <div class="right"></div>
</div>
<script>
        var oBox=document.querySelector('#box');
        var y=-60;
        var x=45;
        oBox.onmousedown=function(ev)
        {
            var oEvent=ev||event;
            var disX=oEvent.clientX-y;
            var disY=oEvent.clientY-x;
            document.onmousemove=function(ev)
            {
                var oEvent=ev||event;
                x=oEvent.clientY-disY;
                y=oEvent.clientX-disX;
                oBox.style.transform='perspective(800px) rotateX('+x+'deg) rotateY('+y+'deg)';
            };
            document.onmouseup=function()
            {
                document.onmousemove=null;
                document.onmouseup=null;
            };
            return false;
        };
</script>