<!DOCTYPE html>
<html lang="en" ng-app="gjl-app">
<head>
    <meta charset="UTF-8">
    <title>看透小过程-收获小成功</title>
    <link rel="shortcut icon" href="images/logo-1.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="app app-header-fixed clearfix">
    <!--头部-->
    <header id="header" ng-controller="headerCtrl as vm" class="app-header navbar g-nav-box" role="navigation" >
        <div class="navbar-header bg-dark">
            <a href="#" class="navbar-brand">
                <img src="images/logo-1.png" alt="." >
                <span>jialeGuo website</span>
            </a>
        </div>
        <div id="navbar" class="g-navbar navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left g-nav">
                <li ng-click="vm.stateGo('personal')" class="active"><a ng-href="javascript:;" >个人信息<span >个人信息</span></a></li>
                <li ng-click="vm.stateGo('h5c3')"><a ui-sref="h5c3">H5+CSS3<span  >H5+CSS3</span></a></li>
                <li><a ui-sref="phone">手机站<span>手机站</span></a></li>
                <li><a ui-sref="3d" >立体<span>立体</span></a></li>
                <li><a ui-sref="ps">PS<span>PS</span></a></li>
                <li><a ui-sref="blog">Blog<span>Blog</span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="javascript:;"  class="time-box" id="time-box" ng-cloak>
                        {{vm.timer | date:'yyyy年MM月dd日 HH:mm:ss'}}
                    </a>
                </li>
                <li class="g-header-right-img">
                    <a href="#" id="tou-box" class="tou-box">
                        <img src="images/header.png">
                    </a>
                </li>
            </ul>
        </div>

    </header>
    <!--侧边-->
    <aside id="aside" class="app-aside hidden-xs bg-dark" ng-include="'template/g-personal-information.html'">

    </aside>
    <!--内容-->
    <div id="content" class="app-content" role="main">
          <div class="g-content-box" style="width: 100%; height: 100%;">
              <!--<div my-video style="background: #000;">

              </div>-->
              <div ui-view></div>
          </div>

    </div>
    <!--底部-->
    <div id="footer" class="app-footer" role="footer">

    </div>
</div>

<script src="js/jquery.js"></script>
<script src="js/angular.js"></script>
<script src="js/angular-ui-router.min.js"></script>
<script src="js/angular-resource.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
<script src="js/config.js"></script>
</body>
</html>