
			img{display: block; vertical-align: top;}
			.swiper-container{ width: 100%; height: 100%;}
			.slide_one{position: relative; display:block; width: 100%; height: 100%;}
			.slide_one img{width:100%;}
			.slide_one_box{ position: absolute; left: 0;top:0; width: 100%; height: 100%; display: block; background-color: rgba(3,3,3,0); z-index: 99;}
			.slide_one .friend_one_one{ z-index:1; opacity: 0; width: 8rem; position: absolute; left: 6rem; top: 1rem;}
			.slide_one .friend_one_two{z-index:2; opacity: 0; width: 8rem; position: absolute; left: 0.5rem; top: 2rem;}
			.slide_one .firend_one_3{z-index:3; width: 8rem; position: absolute; left: 1.5rem; top: 9rem;}
			.slide_one .yujian{opacity: 0; width: 60px; position: absolute; left: 0rem; top: 1rem;}
			.slide_one .shizui{width: 60px; position: absolute; left: 6rem; top: 17rem;}
			.scale{ width:20px; height:20px; background:#906; border-radius:50%; color:#fff; position:absolute; right:-10px; bottom:-10px; display: none;}
			.slide_one_cut{ height:20px; background:#906; display: none; color:#fff; position:absolute; top:-10px; right:-10px;}
			.guo-move .anmate1{opacity: 1;transition:1s all linear;-webkit-transition:1s all linear; transform: translate3d(2rem,0,0);-webkit-transform: translate3d(2rem,0,0);top: 1rem;}
			.guo-move .anmate2{opacity: 1;transition:2s all linear;-webkit-transition:1s all linear;}
			.guo-move .anmate3{transition:1s all linear;-webkit-transition:3s all linear; transform: translate3d(2rem,0,0);-webkit-transform: translate3d(2rem,0,0);top: 10rem;}
			.guo-move .yujian{ opacity: 1;transition:1s all linear;-webkit-transition:1s all linear; transform: translate3d(4rem,0,0);-webkit-transform: translate3d(4rem,0,0);top: 17rem;}
			/*编辑样式*/
			.edit{position: fixed; width: 100%; height: 24px; background: #00415E; color: #fff;  bottom: 0; overflow: hidden; z-index: 100;}
			.edit_yes{ width: 33.3%; font-size: 14px; background: #973716; float: left;  display: block; height: 30px; line-height: 24px; text-align: center;}
			.edit_over{ width: 33.4%;font-size: 14px;  float: left; background-color: #999;  display: block; height: 30px; line-height: 24px; text-align: center;}
			.copy_address{ width: 33.3%;font-size: 14px; background: #973716; float: left;  display: block; height: 30px; line-height: 24px; text-align: center;}
			/*裁切样式*/
			.crop_box{position: fixed; width: 100%; height:100%; z-index: 101; background: #333; }
			.mask_box{position: absolute; width: 100%; left: 0; top: 0;}
			.mask{width: 100px; height: 100px; position: absolute; left: 10px;top: 10px; background: #003399; z-index: 10; }
			.mask_img_box{ width: 100%;height: 100%;position: absolute;overflow: hidden ; }
			.mask_move_img{position: absolute;left: -10px; top: -10px; width: 320px; height: 320px;}
			.img_opacity_6{position: absolute;left: 0; top: 0;opacity: 0.6;}
			.img_border_top{ height: 6px; width: 100%; position: absolute;left: 0; top: -2px; background-color: #F34439; background: url(iamges/Jcrop.gif);}
			.img_border_bottom{ height: 6px; width: 100%; position: absolute;left: 0; bottom: -2px; background-color: #F34439; background: url(iamges/Jcrop.gif);}
			.img_border_left{ height: 100%; width: 6px; position: absolute;left: -2px; top: 0px; background-color: #F34439; background: url(iamges/Jcrop.gif);}
			.img_border_right{ height: 100%; width: 6px;  position: absolute;right: -2px; bottom: 0px; background-color: #F34439; background: url(iamges/Jcrop.gif);}
			.img_border_scale{ width: 20px; z-index: 20; height: 20px; border-radius: 10px; background: #F0E0DC; position: absolute;right: -10px; bottom: -10px;}
			.sureCut{ width: 120px; height: 40px; line-height: 40px; text-align: center; background: #0033CC; position: absolute; left: 50%; margin-left: -60px; bottom: 40px; color: #fff;}
			.cutBox{border: 1px solid #04569A; margin-top: 10px;}
			.toBeCut{position: absolute;left: -1000px; top: -1000px;}
			html,body{ width: 100%; height: 100%;}
			/*地址*/
			.address{position: absolute; left: -1000px; top: 0; z-index: 999;}